* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{
    --primery-color: #344c80;
    --grey-900: #0F191A;
    --grey-800: #121b22;
    --grey-700: #212C32;
    --grey-300: #ccdaea;
    --grey-200: #DEE7F1FF;
    --lighter-blue: #536DA4FF;
    --message-blue: #bbcdf3e3;
    --button-blue: #294072;
    --primary-font: "Roboto", sans-serif;
}

body{
    background-color: var(--primery-color);
    padding: 40px;
}

/* aside styles */

aside{
    background-color: var(--grey-900);
    color: white;
}

aside header{
    background-color: var(--grey-800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 50px;
    border-radius: 50%;
    }

.profile h2{
    font-size: 20px;
}

.actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.actions button{
    padding: 7px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    background-color: var(--grey-800);
    color: var(--grey-300);
    transition: transform .2s;
}

.actions button svg{
    width: 20px;
}

.actions button:hover{
    background-color: var(--grey-700);
    transform: translateY(-4px);
}

.app{
    background-color: white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
    overflow: hidden;
}

img{ 
    width: 60px;
}

/* search input */

.search{
    background-color: var(--grey-800);
    padding: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.search form input{
    background-color: var(--grey-700);
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
}

/* chats */

.chats ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-chat{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.user-chat img{
    border-radius: 50%;
    width: 50px;
}

.user-chat h3{
    font-size: 15px;
}

.user-chat p{
    font-size: 12px;
}

.user-chat:hover{
    background-color: var(--grey-700);
    cursor: pointer;
    border-left: 3px solid var(--lighter-blue);
}