* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{
    --primary-color: #344c80;
    --grey-900: #0F191A;
    --grey-800: #121b22;
    --grey-700: #9f9fa1;
    --grey-600:#1f2c34;
    --grey-500: #dfdfe1;
    --grey-300: #fefff6;
    --grey-200: #f1f2f6;
    --lighter-blue: #536DA4FF;
    --message-blue: #c7d6f7e3;
    --button-blue: #294072;
    --primary-font: "Roboto", sans-serif;
}

body{
    background-color: var(--primary-color);
    padding: 40px;
}

/* aside styles */

aside{
    background-color: var(--grey-900);
    color: white;
}

aside header{
    background-color: var(--grey-800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 50px;
    border-radius: 50%;
    }

.profile h2{
    font-size: 20px;
}

.actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.actions button{
    padding: 7px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    background-color: var(--grey-800);
    color: var(--grey-300);
    transition: transform .2s;
}

.actions button svg{
    width: 20px;
}

.actions button:hover{
    background-color: var(--grey-700);
    transform: translateY(-4px);
}

.app{
    background-color: white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

img{ 
    width: 60px;
}

/* search input */

.search{
    background-color: var(--grey-800);
    padding: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.search form input{
    background-color: var(--grey-600);
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
}

/* chats */

.chats ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-chat{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.user-chat img{
    border-radius: 50%;
    width: 50px;
}

.user-chat h3{
    font-size: 15px;
}

.user-chat p{
    font-size: 12px;
}

.user-chat:hover{
    background-color: var(--grey-700);
    cursor: pointer;
    border-left: 3px solid var(--lighter-blue);
}

/* messages panel */

.chat-header{
    background-color: var(--grey-300);
    border-bottom: 1px solid var(--grey-500);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.chat-header img{
    width: 60px;
    border-radius: 50%;
}

.chat-header p{
    color: var(--grey-700)
}

 /* Estilos para los mensajes */

.messages {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message {
    background-color: var(--grey-300);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.240);
    padding: 10px;
    width: 60%;
}

.message .time {
    color: var(--grey-700);
    font-size: 14px;
    margin-top: 10px;
    text-align: end;
}

.me {
    align-self: end;
    background-color: var(--message-blue);
}

.chat-panel {
    display: flex;
    flex-direction: column;
}

 footer {
    display: flex;
    background-color: var(--grey-500);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
 }

 footer button{
    width: 25px;
    height: 25px;
    padding: 3px;
 }

 footer svg{
    width: 100%;
    height: 100%;
 }
 

 footer form{
    display: flex;
    align-items: center;
    flex: 1;
 }

 footer textarea{
    padding: 8px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
 }

 footer textarea:focus{
    outline: 1px solid var(--grey-700);
}

 footer form textarea{
    width: 100%;
 }

 footer .attached{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey-700);
    transition: color .2s;
 }

 footer .attached:hover{
    color: var(--grey-800);
 }

 footer .send{
    background-color: var(--button-blue);
    border: none;
    color: var(--grey-300);
    width: 45px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all .1s;
 }

 footer .send:hover{
    background-color: var(--primary-color);
    transform: scale(0.98);
 }

 /* responsive design */

 @media (max-width:880px){
    .app{
        grid-template-columns: 1fr;
    }
    aside{
        display: none;
    }
 }